* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
    --primary-color: #F3bc17;
    --dark-theme: #242424;
    --heading-color: #0e2b3d;
    --text-color: #666666;
    --font-stack: 'Inter', sans-serif;
    --white: #ffffff;
    --black: #000;
    --fs: 16px;
    --lh: 1.5;
    --fw: 400;
    --gutter-padding: 15px;
    --background-color: #f3f7fd;
    --white-text: #c2d1e2;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-theme);
    color: var(--text-color);
    font-family: var(--font-stack);
    font-size: var(--fs);
    line-height: var(--lh);
    font-weight: var(--fw);
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
    /* display: block; */
}

a {
    text-decoration: none;
}

ul li,
ol li {
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: var(--gutter-padding);
    padding-right: var(--gutter-padding);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--gutter-padding));
    margin-left: calc(-1 * var(--gutter-padding));
}

.d-flex {
    display: flex;
}

.w-1 {
    width: 8.3333%;
}

.w-2 {
    width: 16.6666%;
}

.w-3 {
    width: 25%;
}

.w-4 {
    width: 33.3333%;
}

.w-5 {
    width: 41.6666%;
}

.w-6 {
    width: 50%;
}

.w-7 {
    width: 58.3333%;
}

.w-8 {
    width: 66.6666%;
}

.w-9 {
    width: 75%;
}

.w-10 {
    width: 83.3333%;
}

.w-11 {
    width: 91.6666%;
}

.w-12 {
    width: 100%;
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11,
.w-12 {
    padding-left: var(--gutter-padding);
    padding-right: var(--gutter-padding);
}

.py-100 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-down {
    padding-top: 0px;
}

.padding-top {
    padding-bottom: 0px;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}
.justify-around{
    justify-content: space-around;
}


.items-center {
    align-items: center;
}

.position-rel {
    position: relative;
}

.position-abs {
    position: absolute;
}
/* top-btn */
.back-btn{
    position: fixed;
    top: 85%;
    width: 45px;
    height: 45px;
    right: 30px;
    z-index: 999;
    color: var(--primary-color);
    border-radius: 3px;
    font-size: 30px;
    padding-left: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(18, 231, 242, 0.3);
   
}
.back-btn .text{
    margin-left: 50%;
}

/* top-bar */
.top-bar {
    background-color: #131212;
    padding: 10px 15px;
}

.site-details ul,
.social-detail ul {
    display: flex;
    list-style: none;
}

.social-detail ul li:not(:last-child) {
    margin-right: 20px;
}

.site-details {
    border-left: solid 2px var(--primary-color);
    padding-left: 25px;
    margin-left: -10px;
}

.site-details ul li a i {
    font-size: 18px;
}

.site-details ul li a,
.social-detail ul li a {
    color: var(--white);
}

.site-details ul li:hover a {
    color: var(--primary-color);
}

.social-detail ul li:hover i {
    color: var(--primary-color);
    transition: all ease-in-out 0.2s;
    box-shadow: rgba(75, 47, 254, 0.8) 1px 1px 8px;
}

.social-detail i {
    font-size: 28px;
    margin-top: 20px;
}

/* header */
.main-navigation {
    width: 100%;
    position: relative;
    padding: 15px;
    color: transparent;
}

.logo {
    width: 50px;
}

nav ul {
    margin: 0 left;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 16px;
    color: var(--white);
    font-weight: 500;
    margin-right: 40px;
}

nav ul li:hover a {
    color: var(--primary-color);
    transition: all 0.3s ease;
}
.label #btn, .label #cancel{
    color: white;
    font-size: 30px;
}
.toggle-button{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #c1c58e;
    border: 1px solid var(--heading-color);
    color: var(--heading-color);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    display: none;
}


.banner-bg {
    background-image: url(../img/home-banner.jpg);
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.banner-bg::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    right: 0;
}

.banner-inner {
    display: flex;
    position: relative;
}

.banner-img {
    background-image: url(../img/white.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: -80px;
    border-radius: 70%;
    margin: 0 auto;
    width: 400px;
    height: 400px;
  /*   border: 5px solid rgba(255, 255, 255, 0.053); */
    box-shadow: 0 4px 6px 0 rgba(200, 217, 76, 0.243), 2px 6px 20px 2px rgba(230, 20, 20, 0.1);
}

.banner-text {
    color: var(--white);
    padding: 20px;
}

.banner-text h2 {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.9px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.banner-text h3
 {
    color: #ffffff;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.banner-text p {
    margin: 0 0 20px;
    line-height: var(--lh);
    letter-spacing: 0.9px;
}

.banner-text span {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(41, 27, 130, 0.5), 
               -2px -2px 4px rgba(86, 80, 135, 0.5), 
               0px 4px 6px rgba(223, 95, 21, 0.539);
}

.btns {
    display: inline-block;
    margin-top: 45px;
    font-size: 16px;
    font-weight: 600;
}

.view-work,
.hire-me, .send-message {
    background-color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 10px;
    color: var(--white);
    border: solid 1px var(--primary-color);
}

.hire-me {
    margin-left: 10px;
}

.view-work:hover,
.hire-me:hover, .send-message:hover {
    background-color: transparent;
    border: solid 1px var(--primary-color);
    transition: ease-in-out 0.3s;
}

/* About-me */



.about-me,
.service-heading,
.portfolio, .contact {
    color: #ffffff;
    margin-bottom: 60px;
}
.resume{
    color: #ffffff;
}

.about-me h3,
.details-bio h3,
.service-heading h3,
.resume h3,
.portfolio h3, .contact h3 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-me span,
.details-bio span,
.service-heading span,
.resume span,
.portfolio span, .contact span {
    color: var(--primary-color);
}

.sm-border {
    border: 2px solid var(--primary-color);
    width: 70px;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.about-img {
    background-image: url(../img/Blazer.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 570px;
    width: 400px;
    border: solid 7px;
    border-color: #c2d1e2;
    margin: 0 auto;
}

.about-img:hover {
    border-radius: 15px;
    border-color: #e0ddaf;
    box-shadow: 0 4px 8px 0 rgba(71, 20, 198, 0.2), 0 6px 20px 0 rgba(230, 20, 20, 0.2);
    transition: all ease-in-out 0.3s;
}

.details-bio {
    margin-bottom: 30px;
}

.details-bio i {
    color: var(--background-color);
}

.details-bio p {
    display: inline;
    color: var(--white);
    font-size: 16px;
}

.details-bio:hover i {
    color: var(--primary-color);
    font-size: 17px;
    transition: all ease-in-out 0.3s;
}

.name-rs {
    color: var(--background-color);
    margin-bottom: 22px;
    font-size: 16px;
}

.name-rs span {
    font-weight: 700;
    width: 32%;
}

/* button */
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px 0px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.3);
}

/* Service */
.services {
    text-align: center;
    color: var(--white);
    flex-wrap: wrap;
}

.service-1 i,
.service-2 i,
.service-3 i,
.service-4 i {
    font-size: 25px;
    margin-bottom: 25px;
    border: 2px solid #2d2d2d;
    padding: 16px;
    border-radius: 50%;
}

.service-5 i,
.service-6 i {
    font-size: 25px;
    margin-bottom: 25px;
    border: 2px solid #2d2d2d;
    padding: 14px 18px;
    border-radius: 50%;
}

.service-1 h3,
.service-2 h3,
.service-3 h3,
.service-4 h3,
.service-5 h3,
.service-6 h3 {
    font-size: 22px;
    margin-bottom: 25px;
}

.service-1,
.service-2,
.service-3,
.service-4,
.service-5,
.service-6 {
    border: 2px solid #2d2d2d;
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 25px;
    min-height: 250px;
}

.service-1:hover i,
.service-2:hover i,
.service-3:hover i,
.service-4:hover i,
.service-5:hover i,
.service-6:hover i {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    box-shadow: 0px 5px 40px 0 rgb(60, 60, 60);
    transition: all ease-in-out 0.3s;
}

.service-1:hover,
.service-2:hover,
.service-3:hover,
.service-4:hover,
.service-5:hover,
.service-6:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0px 5px 40px 0 rgb(60, 60, 60);
    transition: all ease-in-out 0.3s;
}

/* Resume */
.resume-container,
.resume-container-skills {
    margin-top: 60px;
    margin-left: 2px;
}

.resume-container i,
.resume-container-skills i {
    color: var(--primary-color);
    margin-right: 30px;
}

.single-resume {
    border: 2px solid #2d2d2d;
    padding: 30px 32px;
    box-shadow: 0px -1px 30px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;

}

.single-resume h4 {
    margin-bottom: 10px;
}

.single-resume h5 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.single-resume:after {
    content: '';
    color: var(--primary-color);
    position: absolute;
    width: 90%;
    border: 1px solid var(--primary-color);
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease-in-out 0.4s;
}

.single-resume:hover:after {
    width: 100%;
    align-items: center;
    border-color: #47d7ed;
}

/* skills */
a {
    text-decoration: none;
}

.social-media-flex {
    display: flex;
}

.social-media-flex-justify-content {
    justify-content: center;
}

.social-media-flex-align-items {
    align-items: center;
}

.social-media-grid {
    display: grid;
}

.social-media-grid-gap {
    grid-gap: 0.5em;
}

.main-container-social {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.container-social {
    grid-template-rows: repeat(2, 1.5em);
    border-radius: 0.25em;
    padding: 0.5em;
    background-color: #262626;
    box-shadow: 0 0 0.25em #262626;
}

.social-links {
    grid-template-columns: repeat(3, 2em);
    grid-gap: 0.5em;
    z-index: 100;
}

.social-link {
    font-size: 1.5rem;
    color: #bfbfbf;
    transition: 0.3s all ease;
    transition-timing-function: cubic-bezier(0, -0.5, 0, 0.5);
}

.social-link:hover {
    color: #f2f2f2;
    transform: translateY(-0.1em);
    transition-timing-function: cubic-bezier(0.5, -1.5, 0.5, 1.5);
}

.made {
    display: block;
    color: #f2f2f2;
    font-size: 0.75rem;
    text-align: center;
}


.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0d0d0d;
}

.container__progressbars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 270px;
    width: 100%;
    min-height: 100%;
}

.progressbar {
    position: relative;
    width: 220px;
    height: 220px;
    margin: 1em;
    transform: rotate(-90deg);
}

.progressbar__svg {
    position: relative;
    width: 100%;
    height: 100%;
}

.progressbar__svg-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: white;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.shadow-html {
    filter: drop-shadow(0 0 5px #e35d30);
}

.shadow-css {
    filter: drop-shadow(0 0 5px #33bbff);
}

.shadow-scss {
    filter: drop-shadow(0 0 5px #ff33ff);
}

.shadow-js {
    filter: drop-shadow(0 0 5px #ffff33);
}

.shadow-ts {
    filter: drop-shadow(0 0 5px #3377ff);
}

.shadow-node {
    filter: drop-shadow(0 0 5px #55ff33);
}

.shadow-react {
    filter: drop-shadow(0 0 5px #c76af5);
}

.shadow-angular {
    filter: drop-shadow(0 0 5px #79ccff);
}

.shadow-vue {
    filter: drop-shadow(0 0 5px #e0c1c1);
}

.shadow-aue {
    filter: drop-shadow(0 0 5px #799aad);
}

.circle-html {
    -webkit-animation: anim_circle-html 1s ease-in-out forwards;
    animation: anim_circle-html 1s ease-in-out forwards;
}

.circle-css {
    -webkit-animation: anim_circle-css 1s ease-in-out forwards;
    animation: anim_circle-css 1s ease-in-out forwards;
}

.circle-scss {
    -webkit-animation: anim_circle-scss 1s ease-in-out forwards;
    animation: anim_circle-scss 1s ease-in-out forwards;
}

.circle-js {
    -webkit-animation: anim_circle-js 1s ease-in-out forwards;
    animation: anim_circle-js 1s ease-in-out forwards;
}

.circle-ts {
    -webkit-animation: anim_circle-ts 1s ease-in-out forwards;
    animation: anim_circle-ts 1s ease-in-out forwards;
}

.circle-node {
    -webkit-animation: anim_circle-node 1s ease-in-out forwards;
    animation: anim_circle-node 1s ease-in-out forwards;
}

.circle-react {
    -webkit-animation: anim_circle-react 1s ease-in-out forwards;
    animation: anim_circle-react 1s ease-in-out forwards;
}

.circle-angular {
    -webkit-animation: anim_circle-angular 1s ease-in-out forwards;
    animation: anim_circle-angular 1s ease-in-out forwards;
}

.circle-vue {
    -webkit-animation: anim_circle-vue 1s ease-in-out forwards;
    animation: anim_circle-vue 1s ease-in-out forwards;
}

.circle-aue {
    -webkit-animation: anim_circle-aue 1s ease-in-out forwards;
    animation: anim_circle-aue 1s ease-in-out forwards;
}

.progressbar__text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.25em 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.25em;
    transform: translate(-50%, -50%) rotate(90deg);
}

@-webkit-keyframes anim_circle-html {
    to {
        stroke-dashoffset: 5;
    }
}

@keyframes anim_circle-html {
    to {
        stroke-dashoffset: 5;
    }
}

@-webkit-keyframes anim_circle-css {
    to {
        stroke-dashoffset: 10;
    }
}

@keyframes anim_circle-css {
    to {
        stroke-dashoffset: 10;
    }
}

@-webkit-keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 22;
    }
}

@keyframes anim_circle-scss {
    to {
        stroke-dashoffset: 22;
    }
}

@-webkit-keyframes anim_circle-js {
    to {
        stroke-dashoffset: 6;
    }
}

@keyframes anim_circle-js {
    to {
        stroke-dashoffset: 6;
    }
}

@-webkit-keyframes anim_circle-ts {
    to {
        stroke-dashoffset: 22;
    }
}

@keyframes anim_circle-ts {
    to {
        stroke-dashoffset: 22;
    }
}

@-webkit-keyframes anim_circle-node {
    to {
        stroke-dashoffset: 70;
    }
}

@keyframes anim_circle-node {
    to {
        stroke-dashoffset: 70;
    }
}

@-webkit-keyframes anim_circle-react {
    to {
        stroke-dashoffset: 28;
    }
}

@keyframes anim_circle-react {
    to {
        stroke-dashoffset: 20;
    }
}

@-webkit-keyframes anim_circle-angular {
    to {
        stroke-dashoffset: 12;
    }
}

@keyframes anim_circle-angular {
    to {
        stroke-dashoffset: 20;
    }
}

@-webkit-keyframes anim_circle-vue{
    to {
        stroke-dashoffset: 35;
    }
}

@keyframes anim_circle-aue {
    to {
        stroke-dashoffset: 30;
    }
}

/* Filter image */

/* AAAAAAAAAA */
.filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 30px 6px 10px 6px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: all ease-in-out 0.3s;
}

.filter-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.filter-btn.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

}

.item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.item:hover img {
    transform: scale(1.1);
}

.item:hover .overlay {
    opacity: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
}

.overlay-content a i{
   font-size: 30px;
   color: #55ff33;
}

.overlay-content h3{
   font-size: 16px; 
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.663);
}

.lightbox-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.lightbox .lightbox-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #33bbff;
    width: 50%;
    font-size: 22px;
}
.lightbox-content>h3{
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: -20px;    
}

.lightbox .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
/* Contact Us */
.form-control{
    margin-top: 50px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    line-height: var(--lh);
    border: solid 1px #ccc;
    background-color: transparent;
    color: #c3c3c3;
    transition: all ease-in-out 0.2s;
    font-size: 18px;
}
.form-control:hover{
    border: solid 1px var(--primary-color);

}
.send-message{
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}


  